body {
    background: #FFFEF2 ;
    font-family: Calibri, sans-serif;
    color: #000000;
    padding: 0px;
}

.header {
    list-style-type: none;
    background-color: #2e2e2e;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    padding-left: 0px;
    left: 0px;
    
}

.header li {
    float: left;
    border-right: 1px solid #e4e4e4;
}

.header li a {
    display: block;
    text-align: center;
    padding: 14px 14px;
    color: #FFFEF2;
    padding-bottom: 25px;
    padding-top: 24px;
    font-size: 35px;
}

.header li a:link {
    color: #FFFEF2;
    text-decoration: none;
    background-color: transparent;
}

.header li a:visited {
    color: #FFFEF2;
    text-decoration: none;
    background-color: transparent;
}

.header li a:hover {
    background-color: #d6aad8;
}

.header li a:active {
    background: #ffbbd8;
}

h1 {
    font-size: 70px;
    padding: 10px;
    color: #ff89ff;
    padding-top: 80px;
    text-align: center;
    display: block;
    margin: 0;
}

h2 {
    text-align: center;
    display: block;
    padding: 6px;
    font-size: 18px;
    color: #2e2e2e;
    margin: 0;
}

p {
    font-size: 45px;
    padding: 25px;
    text-align: center;
    width: 50%;
    display: inline-block;
}

.Thumbs {
    float: right;
    padding: 10px;
    padding-right: 70px;

}

.footer {
    background: #2e2e2e;
    color: #cecece;
    margin-top: 225px;
    left: 0;
    position: absolute;
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;

}

.footer ul {
    margin: 3px;
    padding: 0px;
    margin-left: 44%;
}

.footer ul li {
    text-align: left;
    list-style-type: none;
}

.footer ul li img {
    display: block;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    float: left;
    overflow: hidden;

}

.tooltip  {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #ffbbd8;
    text-align: center;
    color: #000000;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    display: inline;
    bottom: 100%;
    left: 40%;
    margin-left: -90px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.container {
    margin-top: 180px;
    padding: 10px;
    width: 30%;
    border: 1px solid #2e2e2e  ;
    margin-left: 35%;
    margin-right: 35%;
}

.container input[type=text], .container input[type=password] {
    width: 96%;
    padding: 10px;
    margin: 4px 0 30px 0;
    border: none;
    display: inline-block;
    background: #f0f0f0;
}


.container input[type=text]:focus,.container input[type=password]:focus {
    background: #e4e4e4;
    outline: none;
}

.container .smallbutton {
    background-color: #fddaff;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 45%;
}

.container .smallbutton:hover {
    background-color: #fcc7ff;
}


.product {
    width: 30%;
    margin: 0.5%;
    padding: 0.6%;
    border-radius: 20px;
    outline: 2px solid #3f49ff ;
    display: inline-block;
    height: 620px;
    overflow: hidden;
}

.product:hover{
    background: #999eff;
}

.product img{
    width: 100%;
    border-radius: 20px;
}

.product p{
    font-size: 25px;
    color: rgb(83, 64, 255);
    text-decoration: underline;
    cursor: pointer;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.product ul{
    width: 100%;
    list-style-type: none;
}

.product ul li{
    display: block;
    width: 10%;
    float: left;
}


.product ul li span{
    display: inline-block;
    border-radius: 50%;
    outline: 3px solid rgb(83, 83, 255) ;
    margin: 20px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

.product h2 {
    font-size: 45.6px;
    color: black;
    display: inline;
    float: right;
    margin: 20px;
}

.container .menu{
    width: 100%;
    padding: 3%;
    color: #000000;
    background: #8bffe0;
    font-size: 30px;
    text-align: center;
    outline: 1px solid black;
}

.container .menu:hover{
    background: #4ea68f;
    cursor: pointer;
}

.container .menuevil{
    background: rgb(255, 101, 101);
    width: 100%;
    padding: 3%;
    color: #000000;
    font-size: 30px;
    text-align: center;
    outline: 1px solid black;
    margin-top: 15px;
}

.container .menuevil:hover{
    background: rgb(152, 57, 57);
    cursor: pointer;
}

.cartttl{
    padding: 10px;
    outline: 3px solid black;
    width: 98%;
    margin: 5px;
    height: 75px;
}

.cartttl h2{
    font-size: 30px;
    float: right;
    margin: 10px;
    color: #000000;
}

.cartttl button{
    width: 80px;
    height: 20px;
    float: right;
    margin-top: 27px;
}

.cartttl span{
    height: 20px;
    float: right;
    margin-top: 27px;
    font-size: 30px;
    float: left;
}

.cart-item {
    margin: 10px;
    padding: 10px;
    outline: 3px solid black;
    width: 98%;
    margin: 20px 5px;
    height: 75px;
}

.cart-item .cart-product-image{
    height: 100%;
    display: inline;
}

.cart-item .quantity-controls{
    font-size: 20px;
    margin-top: 5px;
    float: right;
    display: inline;
}

.cart-item .cart-product-info {
    display: inline;
}

.cart-item .cart-product-info h2{
    font-size:25px ;
    width: 20%;
    overflow: hidden;
    margin: 20px;
    padding: 0%;
    float: right;
}

.cart-item .cart-product-info span{
    font-size:25px ;
    margin: 15px 0px;
    padding: 0%;
    float: right;
}

.cart-item .cart-product-info p{
    font-size:25px ;
    width: 20%;
    overflow: hidden;
    margin: 20px;
    padding: 0%;
    float: right;
}

.cart-item button{
    float: right;
    margin: 20px;
}